.form-card {
  background-color: rgb(95, 58, 146);
  display: block;
  font-family: 'Open Sans';
  font-size: 13.6px;
  line-height: 32px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  text-size-adjust: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.check {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: Montserrat;
  font-size: 11.2px;
  font-weight: 500;
  line-height: 16px;
  text-size-adjust: 100%;
}

form input {
  font-family: 'Open Sans';
  font-size: 13.6px;
  color: black !important;
}

.form-title {
  color: rgb(244, 81, 30) !important;
  display: block;
  font-size: 24px;
  font-weight: 500;
}
