.form-card {
  background-color: rgb(95, 58, 146);
  font-family: 'Open Sans';
  font-size: 13.6px;
  line-height: 32px;
  text-size-adjust: 100%;
}

form input {
  font-family: 'Open Sans';
  font-size: 13.6px;
  color: black !important;
}

.form-control,
.form-control:focus {
  box-shadow: 1 1 1 1 rgb(111, 255, 176);
  border: 1px solid rgb(111, 255, 176);
}

.form-title {
  color: rgb(244, 81, 30) !important;
  display: block;
  font-size: 24px;
  font-weight: 500;
}

.btn-orange {
  color: #fff;
  background-color: rgb(244, 81, 30);
  border-color: rgb(244, 81, 30);
  font-size: 13px;
  font-weight: bold;
  font-family: Montserrat;
}
