.bg-orange,
.bg-orange:hover {
  background-color: rgb(244, 81, 30);
  border: none;
}

.btn {
  font-size: small;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: white;
  border-color: white;
}
