.bg-orange,
.bg-orange:hover {
  background-color: rgb(244, 81, 30);
  border: none;
}

.form-title {
  color: rgb(244, 81, 30) !important;
  display: block;
  font-size: 24px;
  font-weight: 500;
}

.btn {
  font-size: small;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: white;
  border-color: white;
}

.subtitle {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14.4px;
  line-height: 16px;
  margin-bottom: 32px;
  text-size-adjust: 100%;
}

.title {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 52.8px;
  margin-bottom: 21.44px;
  margin-top: 21.44px;
  text-size-adjust: 100%;
}

.list-title {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 13.28px;
  font-weight: 700;
  line-height: 32px;
  margin-block-end: 22.1776px;
  margin-block-start: 22.1776px;
  text-size-adjust: 100%;
}

li {
  color: rgb(255, 255, 255);
  display: list-item;
  font-family: 'Open Sans';
  font-size: 12.8px;
  line-height: 32px;
  list-style-type: disc;
  text-align: left;
  text-size-adjust: 100%;
}

ul {
  color: rgb(112, 112, 112);
  display: block;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 32px;
  list-style-type: disc;
  margin-block-end: 16px;
  margin-block-start: 16px;
  margin-left: 0px;
  padding-inline-start: 10px;
  padding-left: 10px;
  text-size-adjust: 100%;
}

.companies {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 19.2px;
  font-weight: 700;
  line-height: 40px;
  margin-block-end: 15.936px;
  margin-block-start: 15.936px;
  max-width: 600px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  text-size-adjust: 100%;
}

.form-card {
  background-color: rgb(95, 58, 146);
  display: block;
  font-family: 'Open Sans';
  font-size: 13.6px;
  line-height: 32px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  text-size-adjust: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.check {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: Montserrat;
  font-size: 11.2px;
  font-weight: 500;
  line-height: 16px;
  text-size-adjust: 100%;
}

form input {
  font-family: 'Open Sans';
  font-size: 13.6px;
}

.footer-links {
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 400;
  display: block;
  line-height: 12.65px;
  padding-bottom: 35px;
  text-decoration-line: none;
  text-decoration-style: solid;
}

.footer-link-header {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.4px;
  margin-block-end: 30px;
  margin-block-start: 0px;
  margin-bottom: 30px;
}
.footer-copyright {
  border-top-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Open Sans';
  font-size: 11px;
  line-height: 12.65px;
  padding-bottom: 25px;
  padding-top: 20px;
  text-align: center;
}
